@media only screen and (min-device-width: 801px) {
    body {
        font-size: 18px;
    }
}

@media only screen and (max-device-width: 800px) {
    body {
        font-size: 30pt;
    }
    #input-controls #searchbox {
        width: 100%;
    }
}

body {
    background-color: #a0b0c0;
}

div#main-wrapper {
    max-width: 60em;
    min-height: 100%;
    margin: auto;
    background-color: white;
    padding: 1em 2em;
}

table#description {
  margin:auto;
}

table#description td {
  margin: 0.5em 3em;
}

#input-controls {
    text-align: center;
}

#direction {
    margin-bottom: 1em;
}

#input-controls #searchbox {
    font-size: 200%;
    max-width: 40em;
    width: auto;
    margin: auto;
}

#content {
    padding-top: 2em;
}

.fade {
    opacity: 0.6;
}

.red {
    color: red;
}