# Stop dance for nginx
# =======================
#
# ExecStop sends SIGSTOP (graceful stop) to the nginx process.
# If, after 5s (--retry QUIT/5) nginx is still running, systemd takes control
# and sends SIGTERM (fast shutdown) to the main process.
# After another 5s (TimeoutStopSec=5), and if nginx is alive, systemd sends
# SIGKILL to all the remaining processes in the process group (KillMode=mixed).
#
# nginx signals reference doc:
# http://nginx.org/en/docs/control.html
#
[Unit]
Description=Ido web dictionary, https://github.com/kyegupov/ido_web_dictionary
After=network.target

[Service]
ExecStart=java -jar /root/ido_web_dictionary-0.1-SNAPSHOT-jar-with-dependencies.jar

[Install]
WantedBy=multi-user.target
